In [16]:
# DataFrame Shop

#In this activity, you will create DataFrames from scratch using both a list of dictionaries and a dictionary of lists.

## Instructions

# Create a DataFrame for a frame shop. The DataFrame should contain three columns,  "Frame", "Price", and "Sales", and have five rows of data stored within it.

# Using an alternative method, create a DataFrame for an art gallery. The DataFrame should contain three columns, "Painting", "Price", and "Popularity", and have four rows of data stored within it.

## Bonus

# Once both DataFrames have been created, discuss which method you preferred and why.

In [17]:
# Import Dependencies
import pandas as pd

In [18]:
# Create a DataFrame from a list of dictionaries.
painting_df = pd.DataFrame({"Painting": ["Van Gogh", "Monet", "Picasso"],
                             "Price": [1,2,3],
                            "Popularity": ["Very", "Not", "Sort of"]})

In [19]:
# Create a DataFrame of frames using a dictionary of lists.
painting_df

   Painting  Price Popularity
0  Van Gogh      1       Very
1     Monet      2        Not
2   Picasso      3    Sort of

In [20]:
frame_table = pd.DataFrame([
    {"Frame" : "Ornate", "Price" : 15, "Sales" : 100},
    {"Frame" : "Classical", "Price" : 12.5, "Sales" : 200},
    {"Frame" : "Modern", "Price" : 10, "Sales" : 150},
    {"Frame" : "Wood", "Price" : 5, "Sales" : 300},
    {"Frame" : "Cardboard", "Price" : 1, "Sales" : "N/A"}])

In [21]:
frame_table

       Frame  Price Sales
0     Ornate   15.0   100
1  Classical   12.5   200
2     Modern   10.0   150
3       Wood    5.0   300
4  Cardboard    1.0   N/A