In [9]:
import pandas as pd
from pathlib import Path

In [13]:
# Create a reference to the CSV and import it into a Pandas DataFrame
csv_path = Path("Resources/Bedbug_Reporting.csv")
bugs_df = pd.read_csv(csv_path)

In [17]:
bugs_df.columns

Index(['Building ID', 'Registration ID', 'Borough', 'House Number',
       'Street Name', 'Postcode', '# of Dwelling Units',
       'Infested Dwelling Unit Count', 'Eradicated Unit Count',
       'Re-infested  Dwelling Unit Count', 'Filing Date',
       'Filing Period Start Date', 'Filling Period End Date', 'Latitude',
       'Longitude', 'Community Board', 'Council District', '2010 Census Tract',
       'BIN', 'BBL', 'NTA'],
      dtype='object')

In [18]:
# Columns we're interested in: 'Building ID', 'Borough', 'Postcode', '# of Dwelling Units',
#       'Infested Dwelling Unit Count', 'Eradicated Unit Count',
#       'Re-infested Dwelling Unit Count', 'Filing Date', 'Latitude', 'Longitude'

bugs_df.columns
bugs_df = bugs_df[['Building ID', 'Borough', 'Postcode', '# of Dwelling Units',
       'Infested Dwelling Unit Count', 'Eradicated Unit Count',
       'Re-infested  Dwelling Unit Count', 'Filing Date',
       'Latitude', 'Longitude']]
bugs_df.head()

,Building ID,Borough,Postcode,# of Dwelling Units,Infested Dwelling Unit Count,Eradicated Unit Count,Re-infested Dwelling Unit Count,Filing Date,Latitude,Longitude
0,14135,MANHATTAN,10022.0,14.0,0.0,0.0,0.0,07/19/2021,40.758998,-73.976324
1,806924,BRONX,10468.0,128.0,0.0,0.0,0.0,07/29/2021,40.864184,-73.908991
2,14951,MANHATTAN,10065.0,22.0,0.0,0.0,0.0,08/09/2021,40.761862,-73.961509
3,661202,QUEENS,11385.0,3.0,0.0,0.0,0.0,08/03/2021,40.703275,-73.910772
4,425643,QUEENS,11354.0,18.0,0.0,0.0,0.0,08/05/2021,40.761839,-73.826239

In [24]:
bugs_df.dtypes

Building ID                           int64
Borough                              object
Postcode                            float64
# of Dwelling Units                 float64
Infested Dwelling Unit Count        float64
Eradicated Unit Count               float64
Re-infested  Dwelling Unit Count    float64
Filing Date                          object
Latitude                            float64
Longitude                           float64
dtype: object

In [32]:
# Extract the year from the date
bugs_df["Filing Date"] = bugs_df["Filing Date"].astype("datetime64[ns]")
bugs_df["Year"] = bugs_df["Filing Date"].dt.year
bugs_df.head()

,Building ID,Borough,Postcode,# of Dwelling Units,Infested Dwelling Unit Count,Eradicated Unit Count,Re-infested Dwelling Unit Count,Filing Date,Latitude,Longitude,Year
0,14135,MANHATTAN,10022.0,14.0,0.0,0.0,0.0,2021-07-19,40.758998,-73.976324,2021
1,806924,BRONX,10468.0,128.0,0.0,0.0,0.0,2021-07-29,40.864184,-73.908991,2021
2,14951,MANHATTAN,10065.0,22.0,0.0,0.0,0.0,2021-08-09,40.761862,-73.961509,2021
3,661202,QUEENS,11385.0,3.0,0.0,0.0,0.0,2021-08-03,40.703275,-73.910772,2021
4,425643,QUEENS,11354.0,18.0,0.0,0.0,0.0,2021-08-05,40.761839,-73.826239,2021

In [34]:
# Filter to only buildings with infested units greater than 0

bug_infestations = bugs_df.loc[(bugs_df["Infested Dwelling Unit Count"]>0),:]
bug_infestations.head()

,Building ID,Borough,Postcode,# of Dwelling Units,Infested Dwelling Unit Count,Eradicated Unit Count,Re-infested Dwelling Unit Count,Filing Date,Latitude,Longitude,Year
26,166241,BROOKLYN,11204.0,95.0,1.0,1.0,0.0,2021-07-16,40.618485,-73.992673,2021
51,859714,BROOKLYN,11226.0,116.0,2.0,2.0,1.0,2021-07-27,40.646695,-73.953723,2021
67,664411,QUEENS,11412.0,20.0,20.0,0.0,0.0,2021-07-19,40.706724,-73.753892,2021
74,163764,BROOKLYN,11204.0,4.0,4.0,4.0,4.0,2021-07-21,40.621180,-73.990425,2021
75,163764,BROOKLYN,11204.0,4.0,4.0,4.0,4.0,2021-07-21,40.621180,-73.990425,2021

In [40]:
# Change postcode to int
bug_infestations = bugs_df.dropna(how = "any")
bug_infestations.loc[:, "Postcode"] = bug_infestations.loc[:,"Postcode"].astype("int64")
bug_infestations.head()

,Building ID,Borough,Postcode,# of Dwelling Units,Infested Dwelling Unit Count,Eradicated Unit Count,Re-infested Dwelling Unit Count,Filing Date,Latitude,Longitude,Year
0,14135,MANHATTAN,10022.0,14.0,0.0,0.0,0.0,2021-07-19,40.758998,-73.976324,2021
1,806924,BRONX,10468.0,128.0,0.0,0.0,0.0,2021-07-29,40.864184,-73.908991,2021
2,14951,MANHATTAN,10065.0,22.0,0.0,0.0,0.0,2021-08-09,40.761862,-73.961509,2021
3,661202,QUEENS,11385.0,3.0,0.0,0.0,0.0,2021-08-03,40.703275,-73.910772,2021
4,425643,QUEENS,11354.0,18.0,0.0,0.0,0.0,2021-08-05,40.761839,-73.826239,2021

In [43]:
# Create a column for percentage of units infested
bug_infestations,loc[:,"Percent Units Infested"] = (bug_infestations.loc[:, "Infested Dwelling Unit Count"] /
                                            bug_infestations.loc[:,"# of Dwelling Units"] * 100)
bug_infestations.head()

ValueError: too many values to unpack (expected 2)

In [38]:
# Finding the average percentage of infested units
average_infested_units = bug_infestations["Percent Units Infested"].mean()
average_infested_units

KeyError: 'Percent Units Infested'

In [ ]:
# Grouping the DataFrame by "Year"
year_group = bug_infestations.groupby("Year")

# Count how many buildings were infested in each borough and create DataFrame
year_borough_df = pd.DataFrame(year_group["Borough"].value_counts())
year_borough_df.head(10)

In [ ]:
# Rename the "Borough" column to "Total Building Infestations"
year_borough_df = year_borough_df.rename(
    columns={"Borough": "Total Building Infestations"})
year_borough_df.head()

In [ ]:
# Create a DataFrame that shows the total infested and re-infested dwelling unit count by year and borough
year_borough_group = bug_infestations.groupby(["Year", "Borough"])
unit_infestations_by_year_borough = pd.DataFrame(year_borough_group[["Infested Dwelling Unit Count",
                                                                   "Re-infested Dwelling Unit Count"]].sum())
unit_infestations_by_year_borough

In [ ]:
# Find the total unit infestations and re-infestations by year
total_unit_infestations_each_year = pd.DataFrame(year_group["Infested Dwelling Unit Count", 
                                                             "Re-infested Dwelling Unit Count"].sum())
total_unit_infestations_each_year = total_unit_infestations_each_year\
            .rename(columns={"Infested Dwelling Unit Count": "Total Infested Dwelling Units in Year",
                            "Re-infested Dwelling Unit Count": "Total Re-infested Dwelling Units in Year"})
total_unit_infestations_each_year

In [ ]:
# Merge unit_infestations_by_year_borough and join the "Total Infested Dwelling Units in Year"
# into the year_borough_df DataFrame
merged_df = year_borough_df.merge(unit_infestations_by_year_borough).join(total_unit_infestations_each_year,
                                                               on="Year")
merged_df.head()